.todo-list-item {
  border: 2px solid saddlebrown;
  border-radius: 15px;
  padding: 0 20px;  
  margin-bottom: 10px;
}

.todo-list-item section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo-list-item h3 {
  color: greenyellow;
}
